.env
public_html/config.php
logs/*.log
public_html/uploads/*
!public_html/uploads/.gitkeep
public_html/assets/images/blog/*
!public_html/assets/images/blog/.gitkeep
*.backup
*.backup2
*.backup3
.DS_Store
